body{
	background-color: #000000;
	margin: 0px;
  overflow: hidden;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 10px;
}

a{
	text-decoration: none;
}

.thumb {
	float: left;
	width: 50%;
	padding-bottom: 50%;
	background-size: contain;
	background-repeat: no-repeat;
}

.thumb:hover .date{
	opacity: 1;
}

.date{
	position: absolute;
	width: 50%;
	color: #fff;
	padding: 0px;
	background-color: rgba(0,0,0,0.8);
	opacity: 0;
  transition: opacity 500ms;
  -webkit-transition: opacity 500ms;
}

.title{
	position: absolute;
	bottom: 0px;
	padding: 5px;
	color: #fff;
	background-color: rgba(0,0,0,0.8);
}

#content{
	max-width: none;
}

@media only screen and (min-width: 480px){
	.thumb {
		width:33.33%;
		padding-bottom: 33.33%;
	}
	.date{
		width: 33.33%;
	}
}

@media only screen and (min-width: 960px){
	.thumb {
		width: 25%;
		padding-bottom: 25%;
	}
	.date{
		width: 25%;
	}
}
